@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body { 
    padding-top: 150px;
    height: 100%;
    background-color: #fcf7f2;
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------- Flash messages */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: 0.6s;
    margin-top: 90px;
    width: 30%;
    text-align: center;
    left: 35%;
  }
  
.alert.success {
    background-color: #efd3d7;
    font-family: 'Open Sans', sans-serif;
    color: black;
  }
  
.flash {
    padding-top:200px;
    font-family: 'Open Sans', sans-serif;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
  }

  /* -------------------------------- Navbar */
.nav {
    background: #bcd4de;
    height: 140px;
    width: 100%;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
} 

.navbar-nav { 
    margin-left: auto;  
    padding-top: 45px; 
} 

.navbar-brand h1 {
   padding-top: 35px;
   padding-left: 30px;  
}

nav li {
    display: inline-block;
    height: 100%;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
}

.custom-toggler.navbar-toggler { 
    border-color: transparent; 
    box-shadow: none;
    padding-top: 40px;
    padding-right: 30px;
} 
        
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
 "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

/* -------------------------------- Footer */
#footer {
    background-color: #bcd4de;
}

footer h4 {
    font-family: 'Playfair Display', serif;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

footer i {
    margin-left: 20px;
}

footer li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

footer ul {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
  
footer a {
    color: black;
    transition: 0.1s all ease-in-out 0.1s;
    text-decoration: none;
}
  
footer a:hover {
    color: grey;
    text-decoration: none;
}

/* -------------------------------- Home page */
.hero-image {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    position: relative;
}

.text-block {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #efd3d7;
    font-family: 'Playfair Display', serif;
    padding: 30px;
}

.text-block h4 {
    font-size: 60px;
}

.hpimage {
    width: 200px;
    height: 200px;
}

.toprecipes {
    text-decoration: none;
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    background-color: #F6F6F6;
}

.recipename {
    font-family: 'Open Sans', sans-serif;
}

.imagebuttons {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.category a {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.btn-cream {
    background: #fcf7f2;
    color: black;
    border: 1px solid black;

}
  
.btn-cream:hover,
.btn-cream:active,
.btn-cream:focus {
    background: black;
    color: #fcf7f2;
  }

.home-banner {
    background-color: #efd3d7;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}
  
.home-banner p {
    font-size: 18px;
}

.home-banner h1 {
    padding-top: 50px;
}

.home-banner-image img {
    height: auto; 
    width: 699px; 
}

.btn-black {
    background: #efd3d7;
    color: black;
    border: 2px solid black;
  }

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
      background: black;
      color: #efd3d7;
}

.text-styleheading {
    font-family: 'Open Sans Condensed', sans-serif;
}

.text-style {
    font-family: 'Open Sans', sans-serif;
}

.padding {
    padding-top:50px;
    padding-bottom: 100px;
}

/* -------------------------------- Login / Register page */
.myform {
    margin-top: 100px;
    margin-bottom: 60px;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
    max-width: 1000px;
}

.form-group{
    margin: 5px;
}

.mybtn {
    margin-top: 20px;
}
  
.tx-tfm{
    text-transform:uppercase;
}
                 
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
         
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* -------------------------------- FeedMe recipe page */
.search-bar input {
    height: 40px;
     width: 60%;
}

.no-results {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* -------------------------------- My Recipe page */
.card {
    background-color: #fcf7f2;
}

.recipeimage {
    width: 400px;
    height: 270px;
    border-radius: 5px;
}

.recipe-detail-image {
    width: 400px;
    height: 270px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.recipe-image:hover {
    opacity: 0.4;
}
     
.recipeimage:hover {
    opacity: 0.4;
}

.recipe-image:hover + .hide {
    display: inline-block;
}

.recipeimage:hover + .hide {
    display: inline-block;
}

.recipe-card {
    position: relative;
    text-align: center;
}

.recipe-card div {
    color: black;
    border: 1px solid black;
    font-weight: 800;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipename {
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.recipe-card-info {
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
}

.recipe-card-info h1 {
    text-align: center;
}

.recipe-card-info li {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------- Full Recipe page */
.recipepage {
    padding-top: 50px;
}

.recipe-image {
    width: 400px;
    height: 270px;
    border-radius: 5px;
}

.border-recipe {
    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 40px;
    background-color: white;
}

.recipestuff {
    padding-left: 10px;
    padding-top: 10px;
}

.directions {
    padding-left: 10px;
    padding-top: 10px;
}

.directions h3 {
    font-family: 'Love ya like a sister', sans-serif;
}

.notes {
    font-family: 'Open Sans', sans-serif;
}

.notes h3 {
    font-family: 'Love ya like a sister', sans-serif;
}

/* -------------------------------- FAQ page */

.faq {
    font-family: 'Playfair Display', serif;
}

