@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body { 
    padding-top: 150px;
    height: 100%;
    background-color: #fcf7f2;
    font-family: 'Open Sans', sans-serif;
}

/* -------------------------------- Flash messages */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: 0.6s;
    margin-top: 90px;
    width: 30%;
    text-align: center;
    left: 35%;
  }
  
.alert.success {
    background-color: #efd3d7;
    font-family: 'Open Sans', sans-serif;
    color: black;
  }
  
.flash {
    padding-top:200px;
    font-family: 'Open Sans', sans-serif;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
  }
  
  /* -------------------------------- Navbar */
.nav {
    background: #bcd4de;
    height: 140px;
    width: 100%;
}

.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
} 

.navbar-nav { 
    margin-left: auto;  
    padding-top: 45px; 
} 

.navbar-brand h1 {
   padding-top: 35px;
   padding-left: 30px;  
}

nav li {
    display: inline-block;
    height: 100%;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
}

.custom-toggler.navbar-toggler { 
    border-color: transparent; 
    box-shadow: none;
    padding-top: 40px;
    padding-right: 30px;
} 
        
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
 "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 