{% extends "base.html" %}
{% block content %}

<div>
    <div class="col-md-5 mx-auto mt-5">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h3>Edit recipe</h3>
                    </div>
                </div>
                <form method="POST" onclick="validate();" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                    <!-- Edit recipe name -->
                    <div class="form-group">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <label for="recipe_name">Recipe Name</label>
                        <input value="{{ recipe.recipe_name}}" type="text" class="validate form-control"
                            id="recipe_name" name="recipe_name" required>
                    </div>
                    <!-- Choose the recipe type from a drop down -->
                    <div class="form-group">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <label for="category_name">Recipe Type</label>
                        <select class="form-select validate" aria-label="Default select example" id="category_name"
                            name="category_name" required>
                            <option value="" disabled>Choose the course type:</option>
                            {% for category in categories %}
                            {% if category.category_name == category.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Edit image url -->
                    <div class="form-group">
                        <i class="fa fa-images" aria-hidden="true"></i>
                        <label for="image_url">Image URL</label>
                        <input value="{{ recipe.image_url}}" type="url" pattern="https?://.+"
                            class="validate form-control" id="image_url" name="image_url" required>
                    </div>
                    <!-- Edit total time of recipe -->
                    <div class="form-group">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        <label for="time">Time</label>
                        <input value="{{ recipe.time}}" type="text" class="validate form-control" id="time" name="time"
                            required>
                    </div>
                    <!-- Edit number of serviings per recipe -->
                    <div class="form-group">
                        <i class="fa fa-glass-cheers" aria-hidden="true"></i>
                        <label for="servings">Servings</label>
                        <input value="{{ recipe.servings}}" type="text" pattern="^[1-9][0-9]*$"
                            class="validate form-control" id="servings" name="servings" required>
                    </div>
                    <div>
                        <!-- Edit recipe ingredients -->
                        <p>Please add your ingredients below:</p>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_1">Ingredients</label>
                            <input value="{{ recipe.ingredient_1}}" type="text" class="validate form-control"
                                id="ingredient_1" name="ingredient_1" required>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_2">Ingredients</label>
                            <input value="{{ recipe.ingredient_2}}" type="text" class="validate form-control"
                                id="ingredient_2" name="ingredient_2" required>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_3">Ingredients</label>
                            <input value="{{ recipe.ingredient_3}}" type="text" class="validate form-control"
                                id="ingredient_3" name="ingredient_3">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_4">Ingredients</label>
                            <input value="{{ recipe.ingredient_4}}" type="text" class="validate form-control"
                                id="ingredient_4" name="ingredient_4">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_5">Ingredients</label>
                            <input value="{{ recipe.ingredient_5}}" type="text" class="validate form-control"
                                id="ingredient_5" name="ingredient_5">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_6">Ingredients</label>
                            <input value="{{ recipe.ingredient_6}}" type="text" class="validate form-control"
                                id="ingredient_6" name="ingredient_6">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_7">Ingredients</label>
                            <input value="{{ recipe.ingredient_7}}" type="text" class="validate form-control"
                                id="ingredient_7" name="ingredient_7">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_8">Ingredients</label>
                            <input value="{{ recipe.ingredient_8}}" type="text" class="validate form-control"
                                id="ingredient_8" name="ingredient_8">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="ingredient_9">Ingredients</label>
                            <input value="{{ recipe.ingredient_9}}" type="text" class="validate form-control"
                                id="ingredient_9" name="ingredient_9">
                        </div>
                    </div>
                    <div>
                        <!-- Edit recipe directions -->
                        <p>Please add your recipe directions below:</p>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_1">Directions: Step 1</label>
                            <textarea class="validate form-control" rows="6" id="direction_1" name="direction_1"
                                required>
                                {{- recipe.direction_1 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_2">Directions: Step 2</label>
                            <textarea class="validate form-control" rows="6" id="direction_2" name="direction_2">
                                {{- recipe.direction_2 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_3">Directions: Step 3</label>
                            <textarea class="validate form-control" rows="6" id="direction_3" name="direction_3">
                                {{- recipe.direction_3 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_4">Directions: Step 4</label>
                            <textarea class="validate form-control" rows="6" id="direction_4" name="direction_4">
                                {{- recipe.direction_4 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_5">Directions: Step 5</label>
                            <textarea class="validate form-control" rows="6" id="direction_5" name="direction_5">
                                {{- recipe.direction_5 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_6">Directions: Step 6</label>
                            <textarea class="validate form-control" rows="6" id="direction_6" name="direction_6">
                                {{- recipe.direction_6 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_7">Directions: Step 7</label>
                            <textarea class="validate form-control" rows="6" id="direction_7" name="direction_7">
                                {{- recipe.direction_7 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_8">Directions: Step 8</label>
                            <textarea class="validate form-control" rows="6" id="direction_8" name="direction_8">
                                {{- recipe.direction_8 -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <label for="direction_9">Directions: Step 9</label>
                            <textarea class="validate form-control" rows="6" id="direction_9" name="direction_9">
                                {{- recipe.direction_9 -}}
                            </textarea>
                        </div>
                    </div>
                    <!-- Edit recipe notes -->
                    <div class="form-group">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                        <label for="notes">Notes</label>
                        <textarea class="validate form-control" rows="6" id="notes" name="notes" required>
                            {{- recipe.notes -}}
                        </textarea>
                    </div>
                    <div class="form-group text-center mb-5">
                        <a href="{{ url_for('get_recipes', username=session['user'])}}" class="btn btn-cream">
                            Cancel
                        </a>
                        <!-- re-publish the recipe -->
                        <button type="submit" class="btn btn-cream">
                            Publish
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}