{% extends "base.html" %}
{% block content %}

<div class="container col-12 col-md-8 offset-md-2">
    <div class="pt-5">
        <h1 class="faq">Frequently Asked Questions</h1>
        <hr>
    </div>
    <!-- FAQ accordian -->
    <button class="accordion">What is the FeedMe website?</button>
    <div class="panel">
        <p>The FeedMe website is a place to find some amazing recipes added by ourselves, as well as various members.
            You have the option of adding and storing your own recipes, as well as having acess to all the FeedMe
            recipes.</p>
    </div>

    <button class="accordion">How do I become a member?</button>
    <div class="panel">
        <p>To become a member of FeedMe, all you need to do is sign up and make an account. </p>
    </div>

    <button class="accordion">Do I need to pay to become a member?</button>
    <div class="panel">
        <p>No, FeedMe is free. </p>
    </div>

    <button class="accordion">How do I add a recipe?</button>
    <div class="panel">
        <p>To add a recipe, navigate to to the 'Add Recipe' link at the top of the page. Click on it and fill in the
            necessary information required. (Note: You don't have to fill in all the ingredients and directions, only
            what is required for your recipe). When finished, click publish and your recipe will be displayed in your
            'My Recipes' link at the top of the page.
        </p>
    </div>

    <button class="accordion">Can I edit and delete the recipes I have added?</button>
    <div class="panel">
        <p>Yes, you can! On your 'My Recipes' page, edit and delete buttons are displayed under each of your recipes.
            Click on either of them to either edit or delete your recipe.</p>
    </div>

    <button class="accordion">Do my recipes display on the FeedMe Recipes page?</button>
    <div class="panel">
        <p>Yes, they do. Once you add a recipe, it is added to your personal 'My Recipes' page, as well as the 'FeedMe
            Recipes'
            page. Here at FeedMe, we believe sharing is caring.</p>
    </div>

    <button class="accordion ">How can I contact FeedMe?</button>
    <div class="panel">
        <p>We'd love to hear from you! Please find our email and telephone number at the bottom of the page.</p>
    </div>
</div>

{% endblock %}